:root {
  /* margins */
  --margin-profile-container: 10px;

  /* paddings */
  --padding-homepage: 25px;
  --padding-profile-title: 10% 10% 0% 10%;
  --padding-profile-card: 15px;

  /* colors */
  --white: #ffffff;
  --black: #111111;
  --tea-rose: #E8C1C5;
  --mint-green:#DAFFED;
  --caribean-current: #127780;
  --teal: #10838E;


  /* icon size */
  --icon-size-large: 25px;


  /* background-color */
  --background-color-homepage: var(--teal);

  /* border */
  --border-weight: 0.5px;
  --border-color: var(--black);

  /* gaps */
  --gap-project-cards: 20px;
  --gap-contact-container: 20px;

  /* heights */
  --max-height-project-picture: 200px;
  --min-height-project-description-container: 150px;
}
