<header class="introduction-section">
  <img src="" alt="" class="profile-picture">
  <h1 class="title">Lina Peters-Franssen</h1>
  
  <section class="about-me">
    
  </section>
</header>

<main class="project-section">
  <h1 class="title">My Work</h1>
  <section class="projects-container">
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
  </section>
</main>

<footer class="contact-section">
  <section class="contact-me">

  </section>
  
  <img src="" alt="" class="profile-picture">
</footer>
