<header class="introduction-section">
  <div class="profile-container">
    <img src="assets/portrait.jpeg" alt="" class="profile-picture image-shadow">
    <h1 class="profile-text-font light-font text-shadow">Lina Peters&#8209;Franssen</h1>
  </div>
  
  <section class="about-me dark-font">
    <h2 class="align-center dark-font">About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempore delectus totam natus nam facilis voluptatibus provident, quam, itaque repudiandae harum inventore minima dolorum saepe dolores doloremque possimus voluptates? Quisquam.</p>
    <nav class="links-container">
      <i class="devicon-github-original icon-size-large"></i>
      <i class="devicon-linkedin-plain icon-size-large"></i>
    </nav>
  </section>
</header>


<main class="project-section">
  <h1 class="align-center dark-font">My Work</h1>
  
  <section class="projects-container">

    <div class="project-card image-shadow">
      <img src="https://placehold.co/300x200/932222/white?text=Screenshot+of+project&font=roboto" alt="" class="project-picture">
      <div class="project-description-container">
        <h2 class="project-name align-center">Project name</h2>
        <div class="links-container">
          <i class="devicon-github-original"></i>
          <img src="assets/open-in-new-16x16.svg" alt="">
        </div>
        <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, facere!</p>
      </div>
    </div>
    
    <div class="project-card image-shadow">
      <img src="https://placehold.co/300x200/B450C6/white?text=Screenshot+of+project&font=roboto" alt="" class="project-picture">
      <div class="project-description-container">
        <h2 class="project-name align-center">Project name</h2>
        <div class="links-container">
          <i class="devicon-github-original"></i>
          <img src="assets/open-in-new-16x16.svg" alt="">
        </div>
        <p class="project-description">Corporis velit dolores harum perferendis fugit placeat architecto, minus laboriosam.</p>
      </div>
    </div>
    
    <div class="project-card image-shadow">
      <img src="https://placehold.co/300x200/CC6FAA/white?text=Screenshot+of+project&font=roboto" alt="" class="project-picture">
      <div class="project-description-container">
        <h2 class="project-name align-center">Project name</h2>
        <div class="links-container">
          <i class="devicon-github-original"></i>
          <img src="assets/open-in-new-16x16.svg" alt="">
        </div>
        <p class="project-description">Possimus veritatis laborum quibusdam pariatur sunt sed nesciunt officia in!</p>
      </div>
    </div>
    
    <div class="project-card image-shadow">
      <img src="https://placehold.co/300x200/F19E67/white?text=Screenshot+of+project&font=roboto" alt="" class="project-picture">
      <div class="project-description-container">
        <h2 class="project-name align-center">Project name</h2>
        <div class="links-container">
          <i class="devicon-github-original"></i>
          <img src="assets/open-in-new-16x16.svg" alt="">
        </div>
        <p class="project-description">Ex itaque fugiat vero iure nam voluptatum sequi libero illum.</p>
      </div>
    </div>
    
    <div class="project-card image-shadow">
      <img src="https://placehold.co/300x200/6093D5/white?text=Screenshot+of+project&font=roboto" alt="" class="project-picture">
      <div class="project-description-container">
        <h2 class="project-name align-center">Project name</h2>
        <div class="links-container">
          <i class="devicon-github-original"></i>
          <img src="assets/open-in-new-16x16.svg" alt="">
        </div>
        <p class="project-description">Veniam architecto facere, dolorem voluptate odio illum consequuntur reiciendis iste.</p>
      </div>
    </div>
    
    <div class="project-card image-shadow">
      <img src="https://placehold.co/300x200/476F0C/white?text=Screenshot+of+project&font=roboto" alt="" class="project-picture">
      <div class="project-description-container">
        <h2 class="project-name align-center">Project name</h2>
        <div class="links-container">
          <i class="devicon-github-original"></i>
          <img src="assets/open-in-new-16x16.svg" alt="">
        </div>
        <p class="project-description">Architecto quas sequi numquam explicabo, totam vitae doloremque recusandae veritatis?</p>
      </div>
    </div>
  </section>
</main>

<footer class="contact-section light-font">
  <section class="contact-me">
    <h1 class="align-center">Contact Me</h1>
    <h3 class="appeal">Please get in touch if you think our work could be mutually beneficial!</h3>
    <p class="address">1234 Random Road/nRandom Town, California 12345</p>
    
    <div class="contact-details-container flex-align-self">
        <img src="assets/cellphone-10x16.svg" alt="" class="icon-phone">
        <p class="phone-number">555-555-555</p>
        <img src="assets/email-16x13.svg" alt="" class="icon-email">
        <p class="email">example@gmail.com</p>
    </div>

    <nav class="links-container">
      <i class="devicon-github-original icon-size-large"></i>
      <i class="devicon-linkedin-plain icon-size-large"></i>
    </nav>
  </section>
  
  <img src="assets/portrait.jpeg" alt="" class="profile-picture">
</footer>
