<header class="introduction-section">
  <div class="profile-container">
    <img src="assets/portrait.jpeg" alt="" class="profile-picture image-shadow">
    <h1 class="profile-text-font title light-font text-shadow">Lina Peters&#8209;Franssen</h1>
  </div>
  
  <section class="about-me dark-font">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempore delectus totam natus nam facilis voluptatibus provident, quam, itaque repudiandae harum inventore minima dolorum saepe dolores doloremque possimus voluptates? Quisquam.</p>
    <nav class="links-container">
      <i class="devicon-github-original"></i>
      <i class="devicon-linkedin-plain"></i>
    </nav>
  </section>
</header>


<main class="project-section">
  <h1 class="title dark-font">My Work</h1>
  <section class="projects-container">
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
    <div class="project-card"></div>
  </section>
</main>

<footer class="contact-section">
  <section class="contact-me">
    <h1 class="title">Contact Me</h1>
  </section>
  
  <img src="" alt="" class="profile-picture">
</footer>
