.links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.flex-align-items-start {
  align-items: flex-start;
}

.flex-align-self {
  align-self: flex-start;
}

.flex-justify-content-start {
  justify-content: start;
}
