.light-font {
  color: var(--white);
}

.dark-font {
  color: var(--licorice);
}

.text-shadow {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.profile-text-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.align-center {
  text-align: center;
}
